<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Marauder's Map</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

        <script type="text/javascript">
            // Database? who needs one when you can define everything as global constants...
            var DEVICE_TO_NAME = {
                //"c8aa21b053c3" : "zviad",
            };
            var SCALE = 1.0;

            var debug_info = "";
            var last_pos_x = 0, last_pos_y = 0, dist_xy = 0;

            var device_stats = {};
            var current_locations = {};
            var current_steps = {}

            var LOCATION_UPDATE_RATE = 1000.0;
            var ANIMATION_UPDATE_RATE = 40.0;

            function update_locations() {
                var xmlhttp = new XMLHttpRequest();
                var body = JSON.stringify({
                        "method" : "get_locations",
                        });

                xmlhttp.open("POST", "/rpc", true);
                xmlhttp.setRequestHeader("Content-type", "application/json");

                xmlhttp.onreadystatechange = function() {
                    if(xmlhttp.readyState == 4) {
                        if (xmlhttp.status == 200) {
                            var ret = JSON.parse(xmlhttp.responseText);
                            debug_info = ret["debug_info"];
                            $("#infotext").empty();
                            $("#infotext").append(
                                '<pre style="color:green;background:black;font-weight:bold">' +
                                    'POS: (' + last_pos_x + ', ' + last_pos_y + ') DIST: ' + dist_xy + "\n" +
                                    debug_info +
                                '</pre>');

                            for (var device in ret["devices"]) {
                                var device_ret = ret["devices"][device];
                                var device = device.replace(/\:/g, "");

                                var loc_x = Math.floor(device_ret.location[0] * SCALE);
                                var loc_y = Math.floor(device_ret.location[1] * SCALE);
                                if (!(device in device_stats)) {
                                    if (device in DEVICE_TO_NAME) {
                                        $("#devices").append(
                                                '<div id="' + device + '" style="position:absolute;left:-1000px;top:-1000px">' +
                                                '<img src="/static/images/' + DEVICE_TO_NAME[device] + '.jpg" /></div>'
                                                );
                                    } else {
                                        $("#devices").append(
                                                '<div id="' + device + '" style="position:absolute;left:-1000px;top:-1000px;width:0px;height:0px;' +
                                                    '-webkit-border-radius:999px;-moz-border-radius:999px;border-radius:999px;behavior: url(PIE.htc);">' +
                                                '</div>'
                                                );
                                    }
                                    current_locations[device] = [loc_x, loc_y];
                                    current_steps[device] = 0;
                                } else {
                                    current_steps[device] = LOCATION_UPDATE_RATE / ANIMATION_UPDATE_RATE + 4;
                                }

                                device_stats[device] = device_ret;
                            }
                        } else if (xmlhttp.status != 0) {
                            // TODO(zm): if 502 or 503, should probably retry after some time
                        }
                        setTimeout('update_locations()', LOCATION_UPDATE_RATE);
                    }
                }
                xmlhttp.send(body);
            }

            function animate_locations() {
                for (var device in current_locations) {
                    var device_stat = device_stats[device];

                    if (current_steps[device] <= 0) {
                        current_locations[device] = device_stat.location;
                    } else {
                        var x_delta = device_stat.location[0] - current_locations[device][0];
                        var y_delta = device_stat.location[1] - current_locations[device][1];

                        current_locations[device][0] += x_delta / current_steps[device];
                        current_locations[device][1] += y_delta / current_steps[device];
                        current_steps[device]--;
                    }
                    if (device in DEVICE_TO_NAME) {
                        var width = 90;
                        var height = 120;
                    } else {
                        var width = Math.floor(device_stat.variance[0]) * SCALE;
                        var height = Math.floor(device_stat.variance[1]) * SCALE;
                    }
                    var loc_x = Math.floor(current_locations[device][0] * SCALE) - (width / 2.0);
                    var loc_y = Math.floor(current_locations[device][1] * SCALE) - (height / 2.0);

                    if (device in DEVICE_TO_NAME) {
                        // when doing image all what matters is the x,y
                        $("#" + device).css('left', loc_x + "px");
                        $("#" + device).css('top',  loc_y + "px");
                    } else {
                        $("#" + device).css('left', loc_x + "px");
                        $("#" + device).css('top',  loc_y + "px");

                        $("#" + device).css('width', width + "px");
                        $("#" + device).css('height', height + "px");
                        $("#" + device).css('background', device_stat.color);
                    }
                }
            }

            function point_it(event) {
                var pos_x = event.offsetX?(event.offsetX):event.pageX-document.getElementById("map").offsetLeft;
                var pos_y = event.offsetY?(event.offsetY):event.pageY-document.getElementById("map").offsetTop;
                dist_xy = Math.sqrt((pos_x - last_pos_x) * (pos_x - last_pos_x) + (pos_y - last_pos_y) * (pos_y - last_pos_y)) / 22.0;
                last_pos_x = pos_x;
                last_pos_y = pos_y;
                //document.getElementById("click_xy").value = pos_x + ", " + pos_y;
                //document.getElementById("click_xy").style.left = pos_x + "px";
                //document.getElementById("click_xy").style.top = pos_y + "px";
                //document.getElementById("click_xy").focus();
                //document.getElementById("click_xy").select();

                $("#infotext").css('left', pos_x + "px");
                $("#infotext").css('top', pos_y + "px");
            }

            $(document).ready(function() {
                setTimeout('update_locations()', LOCATION_UPDATE_RATE);
                setInterval('animate_locations()', ANIMATION_UPDATE_RATE);
            });
        </script>
    </head>
    <body background="/static/images/map_texture.png">
        <!-- <h1 align="center">t..nt t..nt tntttt t.t t..t t.....</h1> -->
        <div style="position:relative;width:100%;height:100%">
            <div id="map" style="position:absolute;top:0;left:0;width:100%;height:100%" onclick="point_it(event)">
                <img src="/static/images/transmap.png" />
            </div>
            <div id="devices" style="position:relative;top:0;left:0;width:100%;height:100%"></div>
            <input type="text" id="click_xy" size="8" style="position:absolute;top-10000px;left:-10000px;" />
            <div id="infotext" style="position:absolute;top-10000px;left:-10000px;"></div>
        </div>

    </body>
</html>
