<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Marauder's Map</title>
    </head>
    <body>
        <h1 align="center">t..nt t..nt tntttt t.t t..t t.....<h1>
        <table cellspacing="0" border="0">
            <tr>
                <td><img src="/static/images/part1.png" /></td>
                <td><img src="/static/images/part2.png" /></td>
                <td><img src="/static/images/part3.png" /></td>
                <td><img src="/static/images/part4.png" /></td>
            </tr>
        </table>
    </body>
</html>
