<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Tracking Like a Pro</title>
        <script language="JavaScript"><!--
            function refreshIt() {
               if (!document.images) return;
               document.images['mapimage'].src = '/mapimage?' + Math.random();
               document.images['mapimage'].onload = function () {;
                   setTimeout('refreshIt()', 1000);
               }
            }

            var do_refresh = true;

            function refreshPage(force) {
                if (do_refresh || force) {
                    window.location.reload()
                }
            }

            function pauseRefresh() {
                do_refresh = false;
            }
        //--></script>
    </head>
    <body onLoad=" setTimeout('refreshPage(false)', 1000)">
        <h1 align="center">Big Brother is Watching...</h1>
        <div>
            <input type="button" value="Track" onClick="refreshPage(true)">
            <input type="button" value="Pause" onClick="pauseRefresh()">
        </div>
        <img src="/mapimage" id=”mapimage” name="mapimage"></img>
    </body>
</html>
